@import

.header {
    background-color: #9da8e2;
    height: 5rem;
    width: 100vw;
}

.logoHeader {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items:flex-start ;
}

.btnBuscar {
    display: flex;
    color: var(--bs-btn-hover-color);
    background-color: #495057;
    border-color: #495057;
}